<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestGetPicture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D7C85D31EE6F57F008FB927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D7C85E71EE6F57F008FB927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D7C85F21EE6F57F008FB927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
